body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: flex-start;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.nav a:hover {
  background-color: #fff;
  color: #333;
}

.btn-primary {
  background-color: #000000;
  color: #ff0000;
  border-radius: 0;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #fff;
  color: #333;
}

.footer {
  background-color: #333;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
