{% extends 'candidate/candidate_base.html' %} {% block content %} {% comment %} Adding Bootstrap
{%endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<li style="display: inline-block; margin-left: 10px; margin-top: 10px;"><a href="{% url 'candidate:interested' %}" class="btn btn-primary">Interested</a></li>
<li style="display: inline-block; margin-left: 350px; margin-top: 10px;"><a href="{% url 'candidate:interested' %}" class="btn btn-primary">In Review</a></li>
<li style="display: inline-block; margin-left: 350px; margin-top: 10px;"><a href="{% url 'candidate:interested' %}" class="btn btn-primary">Approved</a></li>
<li style="display: inline-block; margin-left: 350px; margin-top: 10px;"><a href="{% url 'candidate:interested' %}" class="btn btn-primary">Dormant</a></li>
<li style="display: inline-block; margin-left: 348px; margin-top: 10px;"><a href="{% url 'candidate:interested' %}" class="btn btn-primary">Declined</a></li>

<div class="col-6 col-lg-8 mb-4 ps-lg-4" style="position: absolute; top: 150px; right: 1;">
    <div class="card4 h-100">
    <div class="card-body">
      <h5 class="card-title">{{ job.JobTitle }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ job.EmployerID.CompanyName }}</h6>
      <div class="d-flex align-items-center mb-3">
        <span class="me-2">Job Rating:</span>
        <div class="stars d-flex">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-half"></i>
        </div>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">Job Info</h6>
      <div class="mb-3">
        <h6 class="card-subtitle mb-2">Salary or Hourly?</h6>
        {% comment %} <p>{{ job.PayType }}</p> {% endcomment %}
      </div>
      <div class="mb-3">
        <h6 class="card-subtitle mb-2">Pay</h6>
        {% comment %} <p>{{ job.Salary }}</p> {% endcomment %}
      </div>
      <div class="mb-3">
        <h6 class="card-subtitle mb-2">Is Pay Negotiable?</h6>
        {% comment %} <p>{{ job.IsNegotiable }}</p> {% endcomment %}
      </div>
      <div class="mb-3">
        <h6 class="card-subtitle mb-2">Is Dormancy Available?</h6>
        {% comment %} <p>{{ job.IsDormancyAvailable }}</p> {% endcomment %}
      </div>
      <div class="mb-3">
        <h6 class="card-subtitle mb-2">Where is the position located?</h6>
        {% comment %} <p>{{ job.Location }}</p> {% endcomment %}
      </div>
    </div>
  </div>
</div>

  <!-- Right Column -->
  <div class="col-6 col-lg-4 mb-4 ps-lg-4" style="position: absolute; top: 150px; right: 26px;">
  <div class="card3 h-100">
    <div class="card-body d-flex flex-column justify-content-between">
      <div class="d-flex flex-column align-items-center mb-3">
        <h4 class="card-subtitle mb-2">Have any questions?</h4>
        <button type="button" class="btn btn-secondary my-2">Contact Company</button><h6>or send an email to {{job.EmployerID.Email}}</h6>
      </div>
      <div class="d-flex flex-column align-items-center mb-3" style="margin-top: 0px;">
        <h4 class="card-subtitle mb-2">Rate this listing!</h4>
        <div class="review-form">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        .checked {
        color: orange;
        }
        </style>
        <input type="radio" id="star1" name="rating" value="5">
        <label for="star1" class="fa fa-star">1</label>
        <input type="radio" id="star2" name="rating" value="4">
        <label for="star2" class="fa fa-star">2</label>
        <input type="radio" id="star3" name="rating" value="3">
        <label for="star3" class="fa fa-star">3</label>
        <input type="radio" id="star4" name="rating" value="2">
        <label for="star4" class="fa fa-star">4</label>
        <input type="radio" id="star5" name="rating" value="1">
        <label for="star5" class="fa fa-star">5</label>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </div>
      <textarea class="form-control" id="review" rows="3">Write a Review</textarea>
      <div class="d-flex flex-column align-items-center mb-3" style="margin-top: 20px;">
        <h4 class="card-subtitle mb-2">Want updates on this listing?</h4>
        <button type="button" class="btn btn-secondary my-2">Get Notifications</button>
      </div>
      <div class="d-flex flex-column align-items-center mb-3" style="margin-top: 00px;">
        <h4 class="card-subtitle mb-2">Save this listing!</h4>
        <a href="{% url 'candidate:save' job_id=job.JobID %}" class="btn btn-primary my-2">Save Listing</a>
      </div>
      <div class="mt-auto">
        <div class="d-flex align-items-center justify-content-center">
          <a href="{% url 'candidate:interested_detail' job_id=job.JobID %}" class="btn btn-primary me-2" style="padding: 28px">Back</a>
          <button type="button" class="btn btn-secondary me-2">See Reviews</button>
          <button type="button" class="btn btn-secondary me-2">Go to Website</button>
          <a href="{% url 'candidate:application_confirmation' job_id=job.JobID %}" class="btn btn-primary me-2" style="padding: 20px">Apply</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

