<!-- This is the base template that all other templates will inherit from. 
It should include the basic structure of your website, such as the header, navigation bar, and footer. -->

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'candidate/css/style.css' %}">
    <!-- Any other CSS or JS includes go here -->
  </head>
  <body>
    <header class="header">
      <nav class="nav" style="display: flex; justify-content: space-between; align-items: center;">
        <div class="card1"> <!-- Employer Id Card -->
          <div class="card1-body">
            {% if request.user.FirstName and request.user.LastName %}
            <p>Name: {{ request.user.FirstName }} {{ request.user.LastName }}</p>
            {% endif %}
            {% if request.user.Profession %}
            <p>Profession: {{ request.user.Profession }}</p>
            {% endif %}
          </div>
        </div>
      </nav>
        <ul>
          <div class="d-flex flex-column align-items-center">
            <li style="display: inline-block; margin-top: 10px;"><a href="{% url 'candidate:candidate_home' %}" class="btn btn-primary btn-lg">Home</a></li>
          </div>
          <li style="display: inline-block; margin-left: 1300px;"><a href="{% url 'candidate:job_list' %}" class="btn btn-secondary">Job Board</a></li>
          <li style="display: inline-block; margin-left: 10px;"><a href="{% url 'candidate:job_pipeline' %}" class="btn btn-secondary">Job Pipeline</a></li>
          <li style="display: inline-block; margin-left: 10px;"><a href="{% url 'candidate:candidate_profile'  %}" class="btn btn-success ml-4">Profile</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer class="footer">
      <!-- Include your footer information here -->
    </footer>
  </body>
</html>
