{% extends 'candidate/job_pipeline.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<li style="display: inline-block; margin-left: 20px; margin-top: 10px;"><a href="{% url 'candidate:interested' %}" class="btn btn-primary">Interested</a></li>
<li style="display: inline-block; margin-left: 355px; margin-top: 10px;"><a href="{% url 'candidate:in_review' %}" class="btn btn-primary">In Review</a></li>
<li style="display: inline-block; margin-left: 355px; margin-top: 10px;"><a href="{% url 'candidate:approved' %}" class="btn btn-primary">Approved</a></li>
<li style="display: inline-block; margin-left: 355px; margin-top: 10px;"><a href="{% url 'candidate:dormant' %}" class="btn btn-primary">Dormant</a></li>
<li style="display: inline-block; margin-left: 335px; margin-top: 10px;"><a href="{% url 'candidate:declined' %}" class="btn btn-primary">Declined</a></li>
    {% if jobs %}
    <div class="row mx-5 my-5">
        {% for job in jobs %}
            {% with application=job.application_set.first %}
                <div class="col-6 col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h2 class="card-title">{{ job.JobTitle }}</h2>
                                <h4 class="company">Company: {{ job.EmployerID }}</h4>
                                <div class="d-flex justify-content-between">
                                    <li style="display: inline-block; "><a href="{% url 'candidate:interested_detail' job_id=job.JobID %}" class="btn btn-secondary">Position Details</a>
                                    <li style="display: inline-block; margin-left: 10px;"><a href="{% url 'candidate:update0' application_id=application.ApplicationID %}" class="btn btn-danger">Cancel Application</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="card-text">{{ job.JobDescription }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text">Salary: {{ job.Salary }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="card-text">Location: {{ job.Location }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text">Date Posted: {{ job.DatePosted }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% else %}
    <p>No jobs found.</p>
{% endif %}
{%endblock%}