{% extends 'employer/employer_base.html' %}

{% block content %}
<h1>Delete Job</h1>

<p>Are you sure you want to delete this job?</p>

<h2>{{ job.JobTitle }}</h2>
<p>{{ job.JobDescription }}</p>
<p>Salary: {{ job.Salary }}</p>
<p>Location: {{ job.Location }}</p>
<p>Date Posted: {{ job.DatePosted }}</p>

<form method="POST">
  {% csrf_token %}
  <button type="submit">Yes, delete</button>
  <a href="{% url 'employer:job_detail' job_id=job.JobID %}" class="btn btn-secondary">No, cancel</a>
</form>
{% endblock %}
