<!-- This is the base template that all other templates will inherit from. 
It should include the basic structure of your website, such as the header, navigation bar, and footer. -->

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'employer/css/style.css' %}">
    <!-- Any other CSS or JS includes go here -->
  </head>
  <body>
    <header class="header">
      <nav class="nav" style="display: flex; justify-content: space-between; align-items: center;">
        <div class="card1"> <!-- Employer Id Card -->
          <div class="card-body">
            {% if request.user.CompanyName %}
            <p>Company: {{ request.user.CompanyName }}</p>
            {% endif %}
            {% if request.user.Industry %}
            <p>Industry: {{ request.user.Industry }}</p>
            {% endif %}
          </div>
        </div>
      </nav>
        <ul>
          <div class="d-flex flex-column align-items-center">
            <li style="display: inline-block;"><a href="{% url 'employer:employer_home' %}" class="btn btn-primary btn-lg mx-auto">Home</a></li>
          </div>
          <li style="display: inline-block; margin-left: 1300px;"><a href="{% url 'employer:job_list' %}" class="btn btn-secondary">Job Board</a></li>
          <li style="display: inline-block; margin-left: 10px;"><a href="{% url 'employer:user_pipeline'  %}" class="btn btn-secondary">User Pipeline</a></li>
          <li style="display: inline-block; margin-left: 10px;"><a href="{% url 'employer:employer_profile'  %}" class="btn btn-success">Profile</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer class="footer">
      <!-- Include your footer information here -->
    </footer>
  </body>
</html>
